<div class="game" *ngIf="render && game">
    <div class="character-panel panel">
        <div class="stats-panel">
            <srv-player-stats [game]="game" [model]="game?.Player"></srv-player-stats>
            <srv-environment-stats [model]="game?.Environment"></srv-environment-stats>
        </div>
    </div>

    <div class="game-panel panel">
        <div>
            <srv-location-details [game]="game" [model]="getCurrentLocation()"></srv-location-details>
            <mat-card class="journal-box">
                <mat-card-content>
                    <srv-journal [model]="game?.Journal"></srv-journal>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <srv-game-footer [showToMenuLink]="true"></srv-game-footer>
</div>
