.game {
    .panel {
        display: inline-flex;
    }
    .character-panel {
        width: 30%;
        min-width: 200px;

        .stats-panel {
            width: 90%;

            srv-player-stats {
                display: block;
                margin-bottom: 10px;
            }
        }
    }
    .game-panel {
        width: 69%;
        min-width: 700px;

        div {
            width: 100%;

            .journal-box {
                margin-top: 10px;
            }
        }
    }
}
