.game {
    .panel {
        display: inline-flex;
    }
    .character-panel {
        width: 30%;
        min-width: 200px;

        .stats-panel {
            width: 90%;

            srv-player-stats {
                display: block;
                margin-bottom: 10px;
            }
        }
    }
    .game-panel {
        width: 69%;
        min-width: 700px;

        div {
            width: 100%;

            .journal-box {
                margin-top: 10px;
            }
        }
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;

        .footer-container {
            margin: auto;
            display: inline-flex;

            .footer-item {
                margin-right: 10px;

                a {
                    color: black;
                }
            }
        }
    }
}
