.inventory {
    
    .content {
        display: inline-flex;
    
        .details {
            width: 450px;
            margin: 2px;

            .item-actions {
                button {
                    margin-right: 3px;
                }
            }
        }
    }
}

.inventory {
    width: 700px;
}

.inventory.selection {
    width: 1200px
}
