.location {
    .actions {
        display: inline-flex;

        .action {
            margin-right: 10px;

            button {
                cursor: pointer !important;
            }
        }
    }
}