@mixin add-icon($icon-name) {
    .item-icon.#{$icon-name} {
        background-image: url('../assets/item-icons/#{$icon-name}.svg');
    }
}

.item-icon {
    width: 64px;
    height: 64px;
    background-size: cover;
}

@include add-icon('empty-bottle');
@include add-icon('clean-water-bottle');
@include add-icon('salt-water-bottle');
@include add-icon('dirty-water-bottle');
@include add-icon('branch');
@include add-icon('stick');
@include add-icon('stone');
