<div [ngClass]="{'inventory': true, 'selection': selectedItem}">
    <h2 mat-dialog-title>{{'player-inventory.title' | localize: 'Player Inventory'}}</h2>
    
    <mat-dialog-content>
        <div class="content">
            <srv-items-grid [model]="inventory" [canSelect]="true" (itemSelected)="handleItemSelected($event)"></srv-items-grid>
            <div class="details" *ngIf="selectedItem">
                <mat-card>
                    <mat-card-title>{{getItemNameWithCount(selectedItem)}}</mat-card-title>
                    <mat-card-content>
                        {{getItemDescription(selectedItem)}}
                    </mat-card-content>
                    <mat-card-actions class="item-actions">
                        <button mat-raised-button matTooltip="{{'item-actions.drop.tooltip' | localize: 'The items will be lost.'}}" (click)="dropItem(selectedItem)">{{'item-actions.drop.title' | localize: 'Drop': '1'}}</button>
                        <button mat-raised-button *ngFor="let action of getItemExtraActions(selectedItem)" matTooltip="{{getExtraActionTooltip(action)}}" (click)="callItemExtraAction(action)">{{getExtraActionName(action)}}</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-raised-button (click)="close()">{{'actions.close' | localize: 'Close'}}</button>
    </mat-dialog-actions>
</div>
