.inventory {
    
    .content {
        display: inline-flex;

        .grid {
            width: 650px;
    
            .item {
                border: 1px solid black;
                border-radius: 3px;
                width: 66px;
                height: 66px;
                cursor: pointer;
                margin-right: 2px;
                margin-bottom: 2px;
                display: inline-block;

                .item-icon {
                    margin-top: 1px;
                    margin-left: 1px;
                }
            }
        
            .item.selected {
                border: 1px solid blue;
                background-color: lightblue;
            }
        }
    
        .details {
            width: 450px;
            margin: 2px;
        }
    }
}

.inventory {
    width: 700px;
}

.inventory.selection {
    width: 1200px
}
