<div class="player-stats" *ngIf="model">
    <mat-card>
        <mat-card-title>{{'player-stats.title' | localize: 'Player Stats'}}</mat-card-title>
        <mat-card-content>
            <div>{{'player-stats.health' | localize: 'Health:'}} {{model.Health | number:'1.0-0'}}%</div>
            <div>{{'player-stats.thirst' | localize: 'Thirst:'}} {{model.Thirst | number:'1.0-0'}}%</div>
            <div>{{'player-stats.hunger' | localize: 'Hunger:'}} {{model.Hunger | number:'1.0-0'}}%</div>
            <div>{{'player-stats.energy' | localize: 'Energy:'}} {{model.Energy | number:'1.0-0'}}%</div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="openInventory()">{{'player-stats.inventory-button' | localize: 'Inventory'}}</button>
            <button mat-raised-button (click)="openCrafting()">{{'player-stats.crafting-button' | localize: 'Crafting'}}</button>
        </mat-card-actions>
    </mat-card>
</div>
