<div [ngClass]="{'inventory': true, 'selection': selectedItem}">
    <h2 mat-dialog-title>{{getTitle()}}</h2>
    
    <mat-dialog-content>
        <div class="content">
            <srv-items-grid [model]="inventory" [canSelect]="true" (itemSelected)="handleItemSelected($event)"></srv-items-grid>
            <div class="details" *ngIf="selectedItem">
                <mat-card>
                    <mat-card-title>{{getItemNameWithCount(selectedItem)}}</mat-card-title>
                    <mat-card-content>
                        {{getItemDescription(selectedItem)}}
                    </mat-card-content>
                    <mat-card-actions class="item-actions">
                        <button mat-raised-button matTooltip="{{'item-actions.pickup.tooltip' | localize: 'Pick up this item.'}}" (click)="puckUpItem(selectedItem)">{{'item-actions.pickup.title' | localize: 'Pick up {0}': '1'}}</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-raised-button (click)="close()">{{'actions.close' | localize: 'Close'}}</button>
    </mat-dialog-actions>
</div>
