.settings-dialog {
    .content {

        .setting {
            margin-bottom: 5px;
        }

        .change-locale-button {
            text-decoration: underline;
            cursor: pointer;

            .flag-icon {
                margin-right: 1px;
            }
        }
    }
}