.settings-dialog {
    .content {

        .change-locale-button {
            text-decoration: underline;
            cursor: pointer;

            .flag-icon {
                margin-right: 1px;
            }
        }
    }
}