<div *ngIf="model">
    <mat-card>
        <mat-card-title>{{'environment.title' | localize: 'Environment'}}</mat-card-title>
        <mat-card-content>
            <div>{{'environment.temperature' | localize: 'Temperature:'}} {{model.Temperature}}°C</div>
            <div>{{'environment.weather' | localize: 'Weather:'}} {{getWeatherText()}}</div>
            <div>{{'environment.time' | localize: 'Time:'}} {{model.Time | date: getTimeFormat()}}</div>
        </mat-card-content>
    </mat-card>
</div>
