.menu {
    .menu-card {
        width: 30%;
        min-width: 200px;
        margin: auto;
        margin-top: 200px;

        .button {
            padding-top: 20px;
            margin: auto;
            width: 30%;
            min-width: 150px;

            a {
                width: 100%;

                &.mat-button-disabled {
                    pointer-events: none;
                }
            }
        }
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;

        .footer-container {
            margin: auto;
            display: inline-flex;

            .footer-item {
                margin-right: 10px;

                a {
                    color: black;
                }
            }
        }
    }
}
