.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;

    .footer-container {
        margin: auto;
        display: inline-flex;

        .footer-item {
            margin-right: 10px;

            a {
                color: black;
            }

            .change-locale-button {
                text-decoration: underline;
                cursor: pointer;

                .flag-icon {
                    margin-right: 1px;
                }
            }
        }
    }
}
